<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies Form</title>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <link rel="stylesheet" href="css/k_form.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
          Companies Registration Form
        </div>
        
        <form method="post" action="/cform" autocomplete="off" name="google-sheet" id="companiesform">
        <div class="form ">

          <div class="note">
            <p>All fields marked with * are mandatory</p>
         </div>
           <div class="inputfield">
              <label>First Name  <span class="note">*</span></label>
              <input type="text" name="fname" class="input" id="fname" required/>
           </div>  
            <div class="inputfield">
              <label>Last Name</label>
              <input type="text" name="lname" class="input" id="lname"/>
           </div>  
           <div class="inputfield">
            <label>Designation</label>
            <input type="text" name="designation" class="input" id="designation"/>
         </div>  
         <div class="inputfield">
            <label>Company Name  <span class="note">*</span></label>
            <input type="text" class="textarea" name="company" id="company" required/>
           </div> 
           <div class="inputfield">
            <label>Work Location<span class="note">*</span></label>
            <input type="text" class="textarea" name="loc" id="loc"/>
         </div> 
           <div class="inputfield">
            <label>Company's GST Number</label>
            <input type="text" class="textarea" name="gst" id="gst" required/>
           </div> 

         <div class="inputfield">
          <label>Phone Number  <span class="note">*</span></label>
          <input type="text" name="phone" class="input" id="phone" minlength="10" maxlength="10" required/>
       </div> 

            <div class="inputfield">
              <label>Email Address</label>
              <input type="email" name="email" class="input" id="email" value="<%= mailid %>" readonly="readonly"/>
           </div> 

           <div class="inputfield">
            <label>Address</label>
            <input type="text" class="textarea" name="add" id="add"/>
         </div> 
          <div class="inputfield">
            <label>Upload Image URL</label>
            <input type="text" name="image_url" class="input" id="image_url"/>
           </div> 

          <div class="inputfield">
            <input type="submit" name="submit" value="Register" class="btn">
          </div>

          <div class="backbtn">
          <input id="myButton" type="button" name="submit" value="Back to Home Page" class="btn"></a>
          </div>

        </div>
    </form>
</div>
          


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>



<!--  https://docs.google.com/spreadsheets/d/1FxR-UsHAbSgSDdnjVbIg4H8tdtH9nDg5Mi7R3s71Tcg/edit?usp=sharing  -->




