<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karigars India</title>

   <!-- carousel -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
   integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
   crossorigin="anonymous" />
<link rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
   integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
   crossorigin="anonymous" />
   <!-- dfvgf -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/lastsec.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/clients.css">
    <link rel="stylesheet" href="css/internship.css">
    <link rel="stylesheet" href="css/footer.css">


</head>

<body>
    <%- include("nav") -%>

    <div class="slider-box">
        <div id="slider">
            <!-- <img src="images/img12.jpeg" alt=""> -->
            <img src="images/3.jpg" alt="">
            <img src="images/3.jpg" alt="">
            <img src="images/3.jpg" alt="">
            <img src="images/3.jpg" alt="">
            <!-- <img src="images/slide3.jpeg" alt="">
            <img src="images/slide4.jpeg" alt=""> -->
        </div>
        <div class="indicators">
            <span id="btn1" class="active"></span>
            <span id="btn2"></span>
            <span id="btn3"></span>
            <span id="btn4"></span>
        </div>
    </div>
    <br>
    <section id="client-section">
      <h2 class="h-primary clss center">Karigars Network</h2>
      <br>
      <div class="clients">
          <div class="client-item">
              <img src="images/11.jpg">
              <p class="description">Carpenter</p>
          </div>
          <div class="client-item">
              <img src="images/22.jpg">
              <p class="description">Plumber</p>
          </div>
          <div class="client-item">
              <img src="images/33.png">
              <p class="description">Welder</p>
          </div>
          <div class="client-item">
              <img src="images/44.jpg" >
              <p class="description">Labour and Mistri</p>
          </div>
          <div class="client-item">
              <img src="images/img4.jpeg">
              <p class="description">Electrician</p>
          </div>
      </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section id="client-section">
    <h2 class="h-primary clss center">Offering Internship</h2>
    <p class="centerr">Come together and your new journey for your future.</p>
    <br>
    <div class="clients">
        <div class="client-item cls">
            <img src="images/img5.jpg">
            <p class="description">HR Management</p>
        </div>
        <div class="client-item cls">
            <img src="images/img6.jpg">
            <p class="description">Accountant</p>
        </div>
        <div class="client-item cls">
            <img src="images/img7.jpg">
            <p class="description">Digital Marketing</p>
        </div>
        <div class="client-item cls">
            <img src="images/img8.jpg" >
            <p class="description">Designing</p>
        </div>
        <div class="client-item cls">
            <img src="images/img9.jpg">
            <p class="description">Finance / Sales Management</p>
        </div>
    </div>
</section>



<div class="container-fluid my-5">
  <h2 class="h-primary clss center">Skill Development</h2>
  <p class="centerr">We have completed and managed many government-sponsored projects.</p>
  <!-- <h1 class="text-center fw-bold display-1 mb-5">Owl <span class="text-danger">Carousel</span></h1> -->
  <div class="row">
      <div class="col-12 m-auto">
          <div class="owl-carousel owl-theme">
              <div class="item mb-4">
                  <div class="card border-0 shadow">
                      <img src="images/c1.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                            <p class="centerr">Soft Toys, 2 months Skill Development Projects, Sponsored by DC (Handicraft)at Ribdi,Sikkim</p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="images/c2.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                            <p class="centerr">Awareness Programme for Aatmnirbhar Bharat Abhiyan, Conducted at Gaya, Bihar</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="images/c3.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                            <p class="centerr">Industrial Skill Development to learn how to Stitch the Garments, Conducted at Noida, Uttar Pradesh</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="images/c4.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                            <p class="centerr">Soft Toys, 2 months Skill Development Projects, Sponsored by DC (Handicraft)at Ribdi,Sikkim</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="images/c5.png" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                            <p class="centerr">Soft Toys, 2 months Skill Development Projects, Sponsored by DC (Handicraft)at Ribdi,Sikkim</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="images/c6.png" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                            <p class="centerr">Bamboo & Cane Craft Workshop Sponsored by DC (Handicraft) at Chittoor, A.P.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                <div class="card border-0 shadow">
                    <img src="images/c7.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title text-center">
                          <p class="centerr">Bamboo & Cane Craft Workshop Sponsored by DC (Handicraft) at Chittoor, A.P.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
              <div class="card border-0 shadow">
                  <img src="images/c8.png" alt="" class="card-img-top">
                  <div class="card-body">
                      <div class="card-title text-center">
                        <p class="centerr">Awareness Programme Sponsored by Kisan Kalyan Foundation at Samastipur, Bihar</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="item">
            <div class="card border-0 shadow">
                <img src="images/c9.png" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title text-center">
                      <p class="centerr">Awareness Programme Sponsored by Kisan Kalyan Foundation at Samastipur, Bihar</p>
                    </div>
                </div>
            </div>
        </div>

          </div>
      </div>
  </div>
</div>

<h2 class="h-primary clss centerr ">Happy Customers</h2>
<div class="container">

  <div class="veiw-box">
      <div id="testimonials">
          
          <div class="user">
              <img src="images/7.jpg" alt="">
              <p>Simple and easy to apply, nice experience.</p>
              <h3>Himanshu</h3>
              <h4 class="col-white">Front end Developer, TCS, Mumbai</h4>
          </div>
          
          <div class="user space">
              <img src="images/8.jpg" alt="">
              <p>Hiring from here is way easier then other. I am very happy with their work.</p>
              <h3>Sourav</h3>
              <h4 class="col-white">Team Head, Wipro</h4>
          </div>
          
          <div class="user">
              <img src="images/9.jpg" alt="">
              <p>Good for hiring people they have the best data analysis for post your are searching for, happy by the work.</p>
              <h3>Gourav</h3>
              <h4 class="col-white">Manager, Affinity</h4>
          </div>
          
          
      </div>
      
      <div class="controls">
          <span id="control1"></span>
          <span id="control2" class="activ"></span>
          <span id="control3"></span>
      </div>
      
  </div>
</div>

<%- include("footer") -%>
    <div class="app">
      <a href="https://wa.me/+918178346064"><i class="fab fa-whatsapp"></i></a>
    </div>



<!------- carouseljs -------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>
    <!----------- carouseljs -------->

</body>
<script src="js/slider.js"></script>
<script src="js/lastsec.js"></script>
</html>