<!DOCTYPE html>
<html lang="en">

<head>

    <title>Final Payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BoxIcons v2.1.2 -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS File -->
    <link rel="stylesheet" href="/css/scanner.css">

</head>

<body>

    <div class="container">
        
        <div class="card">
            <div class="card-content">
                <h3>Scan this QR CODE</h3>
                <p>MERCHANT UPI ID: <strong>DESIGNKOKTAIL@UNIONBANKOFINDIA</strong> </p>
            </div>
            <div class="card-image">
                <br>
                <img src="https://media.istockphoto.com/id/828088276/vector/qr-code-illustration.jpg?s=612x612&w=0&k=20&c=FnA7agr57XpFi081ZT5sEmxhLytMBlK4vzdQxt8A70M=" alt="...">
                <!-- <i class="bx bx-star"></i> -->
            </div>
            <div class="card-content">
                <h3>AMOUNT TO BE PAID: <span><%= price %></span></h3>
                <br>
                <p>Scan the QR Code with any UPI apps like <strong>BHIM, Paytm, Google Pay, PhonePe</strong> or <strong>any Banking UPI app</strong> to make payment for 
                    this order. After successful payment, enter the UPI Reference ID or Transaction Number and your UPI ID in the next screen 
                    and submit the form. We will manually verify this payment against your 12-digits UPI Reference ID or 
                    Transaction Number starts with 1 (e.g. 101422121258) and your UPI ID.</p>
                <!-- <button class="add-to-cart">
                    Add To Cart
                </button> -->
            </div>
        </div> 
       
        
        <!-- <a>Back To Home</a> -->
    </div>
   

</body>

</html>