<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/pricing.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/internship.css">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


</head>
<body>

    <%- include("nav") -%>
      <!-- <div class="pricehead">
      <h2 class="h-primary clss centerr" id="pricing-heading">Exciting Deals</h2>
      <p class="centerr">Call 7011447737 for plan related queries.</p>
      </div> -->
    <!----------- Services-------->
    <div class=" home-el text-center mx-0">
        <h1 class="custom-h1 cold">Our Services</h1>
        <p class="custom-p"></p>
        <a href="#about-us"><button type="button" class="btn btn-success btn-lg center-pos">Fill Your Details</button></a>
    </div>

    <div class="container" id="about-us">
        <div class="about-section">
            <h2 class="text-center"> </h2>
            <div class="row text-center abt-dtl">
                <div class="col-md-6 set-img">
                    <img src="https://karigarsindia.com/wp-content/uploads/2022/08/550f49a459548599a5a4ea1c67fc0244.jpg" width="350px">
                </div>
                <div class="col-md-6">
                    <br>
                    <strong class="size_comp">Third party man power service provider</strong>
                    <br>
                    <br>
                    <p class="pg-abt">Our job search team will work with you to find the best worker for your job to do work fast and efficiently. 
                        <br>
                        <br>
                        We all provide the internship and skill development for developing people because of that we have large amount of data for candidates for your job posts. </p>
                        <br>
                        <a href="#about-us"><button type="button" class="btn btn-outline-success btn-lg center-pos">Start Posting Your Jobs</button></a>
                    </div>
            </div>
        </div>
    </div>
    <div class=" abtus2">
    <div class="container" id="about-us">
        <div class="about-section ">
            <h2 class="text-center"></h2>
            <div class="row text-center abt-dtl">
                <div class="col-md-6">
                    <br>
                    <strong class="size_comp">Internship</strong>
                    <br>
                    <br>
                    <p class="pg-abt">We provide the latest technology internship. Both onsite and work form home. 
                        Internship can be 1 month to 6 month as depend on your choice.<br>
                        <br>
                         While doing the internship the best mentor will assist you in any case and guide you for future.
                        After the internship they will provide you with the certificate or if your work is excellent then they will provide you with the job placement as well. </p>
                        <br>
                        <a href="#about-us"><button type="button" class="btn btn-outline-success btn-lg center-pos">Start Working for the Future</button></a>
                    </div>
                <div class="col-md-6 set-img">
                    <img src="https://karigarsindia.com/wp-content/uploads/2022/08/5352140.png" width="350px">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container" id="about-us">
        <div class="about-section">
            <h2 class="text-center"></h2>
            <div class="row text-center abt-dtl">
                <div class="col-md-6 set-img">
                    <br>
                    <br>
                    <br>
                    <img src="images/c1.jpg" width="350px">
                </div>
                <div class="col-md-6">
                    
                    <strong class="size_comp">Skill Development</strong>
                   <br>
                   <br>
                    <p class="pg-abt">We provide the skill development. Skill development can be 1 month to 6 month as depend on your choice. While doing the skill development the best mentor will assist you in any case and guide you for future.
                        <br>
                        <br>
                        After the skill development they will provide you with the certificate or if your work is excellent then they will provide you with the job placement as well. </p>
                        <br>
                        <a href="#about-us"><button type="button" class="btn btn-outline-success btn-lg center-pos">Start Learning New Skills</button></a>
                    </div>
            </div>
        </div>
    </div>
    <br>



    <!----------- Services-------->

    <!------------ foooter starts --------->
    <%- include("footer") -%>
    <!------------ foooter ends ------------->


</body>
</html>